@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --nav-bar-background-color: #1b192fd0;
  --body-background-color: #14152a;
  --section-background-color: #1b1c3a;
  --button-background-color: #473e84;
  --text-color-purple: #ac9adb;
  --text-color-white: #E3DEF0;
  --font-family: "Fira Sans", sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--body-background-color);
  color: var(--text-color-white);
  font-family: var(--font-family);
  
}
a{
  color: var(--text-color-white);
  text-decoration: none;
}
/* Title */
.title h2{
  text-align: center;
  /* margin-bottom: 30px; */
  color: transparent;
  background: linear-gradient(white,white,var(--text-color-purple),var(--button-background-color));
  background-clip: text;
  text-transform: capitalize;
  font-size: 50px;

}
