footer {
  background: var(--section-background-color);
  color: var(--text-color-white);
  padding: 40px 20px;
  margin-top: 200px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 30px;
  gap: 40px;
}.footer-sections{
  display: flex;
  gap: 35px;
  flex-wrap: wrap;

}

.footer-logo img {
  width: 250px;
}
.footer-section{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-section h3 {
  color: var(--text-color-purple);
  font-size: 25px;
}

.footer-section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items:first baseline;
  gap: 15px;
}
.footer-section ul li {
  transition: 0.3s;
  transform: translateX(-20px);
  display: flex;
  align-items: center;
  gap: 15px;
}.footer-section ul li i:nth-of-type(1) {
  font-size: 17px;
  color: var(--text-color-purple);
  opacity: 0;
  transform: translateX(-10px);
  transition: 1s ;
}

.footer-section ul li:hover i:nth-of-type(1) {
  opacity: 1;
  transform: translateX(0);
}
.footer-section a {
  color: var(--text-color-white);
  text-decoration: none;
  transition: 0.3s;
}
.footer-section li:hover {
  transform: translate(5px);
}.footer-section a:hover {
  color: var(--text-color-purple);
}

.footer-bottom {
  border-top: 1px solid rgba(172, 154, 219, 0.2);
  padding-top: 20px;
  font-size: 0.9rem;
  opacity: 0.8;
}
footer,
.footer-container,
.footer-bottom {
  overflow: hidden;
  position: relative;
  z-index: -1;            
}


@media (max-width: 850px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
