.contact-section {
      padding: 100px 20px;
      background: #14152a;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .contact-header h2 {
      font-size: 70px;
      color: var(--text-color-white);
      margin-bottom: 30px;
  }

  .contact-info {
      text-align: center;
      margin-bottom: 50px;
      font-size: 20px;
      color: var(--text-color-purple);
  }

  .contact-form-wrapper {
      width: 100%;
      max-width: 600px;
      background: var(--section-background-color);
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0 20px 50px var(--nav-bar-background-color);
  }

  .contact-form {
      display: flex;
      flex-direction: column;
  }

  .contact-form label {
      margin-bottom: 6px;
      margin-top: 30px;
      color: #f3f1fe;
      font-size: 14px;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form select {
      padding: 12px 15px;
      border-radius: 10px;
      border: 1px solid transparent;
      outline: none;
      background: var(--body-background-color);
      color: white;
      font-size: 14px;
      transition: 0.3s ease;
  }

  .contact-form input:focus,
  .contact-form textarea:focus,
  .contact-form select:focus {
      border: 1px solid var(--text-color-purplea);
      box-shadow: 0 0 10px var(--text-color-purple);
  }

  .contact-form textarea {
      resize: none;
      height: 120px;
  }

  .contact-form button {
      margin-top: 25px;
      padding: 14px;
      border: none;
      border-radius: 12px;
      background: #352d67;
      color: white;
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s ease;
  }

  .contact-form button:hover {
      background: var(--text-color-purple);
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(172, 154, 219, 0.3);
  }
